* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.item-social-media .tooltip {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.item-social-media:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
}

body{
    background-color: #2b2b2b;
}

.login {
    background-color: #2b2b2b;
    overflow-y: hidden;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .blur {
    float: right;
    width: 489px;
    height: 489px;
    flex-shrink: 0;
    margin-top: -300px;
    margin-right: -370px;

    border-radius: 489px;
    background: linear-gradient(171deg, #8900C9 45.63%, #B1008A 93.04%);
    filter: blur(157.48793029785156px);
}

.btn-i {
    position: absolute;
    left: 24%;
    top: 30%;
    z-index: 9999;
}

;

.form .span {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #2b2b2b;
    margin-left: 4%;
    margin-top: 10%;
}

.content {
    background-color: #252525;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #8900C9 0%, #B1008A 100%);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.title-l {
    margin-top: -10px;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    margin-left: 1%;
    color: #fff;
}

.title-primary-1 {
    text-align: center;
    margin-left: 2%;
    color: #fff;
}

.title-second {
    margin-left: 2%;
    background: linear-gradient(90deg, #B1008A 0%, #8900C9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-second-1 {
    margin-left: 1%;
    margin-top: -1%;
    background: linear-gradient(90deg, #B1008A 0%, #8900C9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-l {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 5%;
}

.description-primary {
    color: #fff;
    margin-left: 1%;
    line-height: 16.35px;
}

.description-second {
    color: #7f8c8d;
    margin-left: 3%;
    margin-top: -0%;
}

.description-second-1 {
    color: #7f8c8d;
    margin-left: 4%;
    margin-top: -0%;
}

.btn {
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: #fff;
    color: #B1008A;
}

.btn-second {
    background: linear-gradient(90deg, #8900C9 0%, #B1008A 100%);
    border: 1px solid #b1008b34;
    transition: background-color .5s;
}

.btn-second:hover {
    transition: all 0.8s;
    background-color: #fff;
    box-shadow:
      0 10px 15px -3px #B1008A,
      0 4px 6px -2px #8900C9;
    color: #fff;
}

.first-content {
    display: flex;
}

.first-content .second-column {
    z-index: 11;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin: 1rem 0;
    margin-top: 3%;

}

.link-social-media:not(:first-child) {
    margin-left: 10px;
}

.link-social-media .item-social-media {
    transition: background-color .5s;
}



.list-social-media {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.item-social-media {
    border: 1px solid #B1008A;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #B1008A;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    border-radius: 10px;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #5e5e5e;
    border-radius: 10px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #5e5e5e inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
    background-color: #5e5e5e;
    border: 1px solid #5e5e5e;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
}

.icon-modify {
    color: #B1008A;
    padding: 0 5px;
}


/* Estilizando o botão de upload */
.file-upload-label {
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
    width: 95%;
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(90deg, #8900C9 0%, #B1008A 100%);
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow:
      0 4px 6px -1px #25001d,
      0 2px 4px -1px #8900C9;
    transition: all 0.6s ease;
  }
  
  /* Efeito de hover */
  .file-upload-label:hover {
    box-shadow:
      0 10px 15px -3px #B1008A,
      0 4px 6px -2px #8900C9;
  }
  
  /* Efeito de foco e ativo */
  .file-upload-label:focus,
  .file-upload-label:active {
    opacity: 0.85;
    box-shadow: none;
  }
  
  /* Estilizando o ícone dentro do label */
  .file-upload-label svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  /* Escondendo o input real de arquivo */
  input[type="file"] {
    display: none; /* O campo de input de arquivo real está escondido */
  }
  
  

/* second content*/

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.password {
    color: #fff;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 0.9s;
    /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 0.9s;
    /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 0.9s;
    /*MODIFIQUEI DE 3s PARA 1.3s*/
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 0.9s;
    /*MODIFIQUEI DE 3s PARA 1.3s*/
}


/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    50% {
        left: -100px;
        opacity: .2;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
        /* z-index: 12;  NÃO HÁ NECESSIDADE*/
    }

    50% {
        left: 100px;
        /* z-index: 12; NÃO HÁ NECESSIDADE*/
        /* background-color: yellow;  Exemplo que dei no vídeo*/
    }

    to {
        left: 110px;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content, .second-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column, .second-column {
        width: 100%;
    }
    
    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;

    }

    .form {
        width: 90%;
    }
    
    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {

        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
    
        25% {
            top: -80px;
            opacity: .5;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
    
        50% {
            top: -100px;
            opacity: .2;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
    
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes deslocamentoDir {
    
        from {
            top: 0;
            z-index: 12;
        }
    
        25% {
            top: 80px;
            /* z-index: 12;  NÃO HÁ NECESSIDADE*/
        }
    
        50% {
            top: 100px;
            /* z-index: 12; NÃO HÁ NECESSIDADE*/
            /* background-color: yellow;  Exemplo que dei no vídeo*/
        }
    
        to {
            top: 110px;
            z-index: -1;
        }
    }
    
    
    
    @keyframes slidein {
    
        from {
            top: 0;
            height: 40%;
        }
    
        25% {
            top: 5%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 45%;
            height: 50%;
        }
    
        to {
            top: 60%;
            height: 40%;
        }
    }
    
    @keyframes slideout {
    
        from {
            top: 60%;
            height: 40%;
        }
    
        25% {
            top: 45%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 5%;
            height: 50%;
        }
    
        to {
            top: 0;
            height: 40%;
        }
    }
   
}

@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}