.info{
    background-image: url('../../../assets/landing/Fundo-QGJ.svg');
    width: 1920px;
    height: 767px;
    margin-top: 300px;
}

.img-monitor{
    float: left;
    margin-top: 104px;
}

.txt-info{
    margin-right: 60px;
}
.title-info{
    width: 647px;
    height: 66.666px;
    flex-shrink: 0;
    float: right;

    background: linear-gradient(90deg, #FF90E7 56.18%, #E8B7FF 99.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter';
    font-size: 56.308px;
    font-style: normal;
    font-weight: 700;
    line-height: 63.588px; /* 112.929% */
    letter-spacing: -1.126px;
    margin-top:300px;
    margin-right: 550px;

}

.description-info{
    width: 1031px;
    float: right;
    color: #D4D4D4;
    font-family: 'Inter';
    font-size: 20.933px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    margin-top: 30px;
    margin-right: 155px;
}
/* Media Queries para telas menores */
@media screen and (max-width: 1600px) {

    .description-info{
        width: 699px;
        margin-right: 26.7%;
        margin-top: 1%;
        font-size: 23px;
    }

}

/* Quando a largura da tela for menor que 1370px */
@media screen and (max-width: 1370px) {
    .txt-info{
        margin-right: 100px;
    }
    .title-info{
        font-size: 42px;
    }

    .description-info{
        width: 601px;
        margin-right: 32.7%;
        margin-top: 1%;
        font-size: 19px;
    }

}


@media screen and (max-width: 1370px) {
    .txt-info{
        margin-right: 100px;
    }
    .title-info{
        font-size: 42px;
    }

    .description-info{
        width: 601px;
        margin-right: 32.7%;
        margin-top: 1%;
        font-size: 19px;
    }

}
@media screen and (max-width: 1170px) {
    .txt-info{
        margin-left: -14%;
    }
    .title-info{
        font-size: 40px;
        margin-right: 31%;
    }
    .description-info{
        width:30%;
    }
    .img-monitor{
        margin-top: 5.6%;
        margin-left: -4%;
    }
}

/* Quando a largura da tela for menor que 768px */
@media screen and (max-width: 768px) {
  .txt-info{
    display: none;
  }
  .img-monitor{
    margin-top: 5.6%;
    margin-left: 4%;
    
}
}

@media screen and (max-width: 620px) {
    .img-monitor{
        margin-top: 5.6%;
        margin-left: 1%;
        width: fit-content;
    }
}


/* Quando a largura da tela for menor que 480px */
@media screen and (max-width: 480px) {
    .img-monitor{
        margin-top: 5.6%;
        margin-left: -2.7%;
    }
}

@media screen and (max-width: 390px) {
    .img-monitor{
        margin-top: 5.6%;
        margin-left: -3.7%;
    }
}
