header {
    gap: 15px;
    width: 100%;
    padding: 28px 8%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 3;
    margin-left: 25%;
}

#nav-bar {
    width: 690.257px;
    height: 98.296px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(70deg, #8900C9, #B1008A);
    border-radius: 19.65px;
}

#nav-logo {
    margin-left: 30px;
}


#nav_list {
    display: flex;
    list-style: none;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
}

.nav-item a {
    text-decoration: none;
    color: #E2E2E2;
    font-family: Inter;
    font-size: 20.274px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bnt {
    width: 81.549px;
    height: 98.296px;
    flex-shrink: 0;
    border-radius: 19.652px;
    background: linear-gradient(180deg, #B1008A 0%, #8900C9 100%);
    box-shadow: 0px 5.053px 33.745px 0px rgba(0, 0, 0, 0.07);
    align-items: center;
}

.bnt img {
    margin-top: 25px;
    margin-left: 13px;
    align-items: center;
    transition: all .2s ease;
}

.bnt img:hover {
    transform: scale(1.2);
}
.nav-item.active a {
    text-decoration: none;
    color: #E2E2E2;
    font-family: Inter;
    font-size: 20.274px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.example-1{
    display: none;
}

@media screen and (max-width: 1600px) {
    #header{
        margin-right: 200px;
    }
}

@media screen and (max-width: 1370px) {
    #header{
        margin-right: 100px;
    }
}

@media screen and (max-width: 1170px) {
    #header{
        margin-right: 200px ;
    }
}

@media screen and (max-width: 768px) {
    #header{
        margin-left: -150px ;
        width: 110%;
    }
    #nav_list{
        width: 140%;
        margin-left: 10%;
    }
   

}

@media screen and (max-width: 623px) {
    #header{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #header{
        display: none;
    }
}